main {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    background: var(--bg-2)!important;
    transition: .2s cubic-bezier(.4,0,.2,1);
}

main > .main-wrap {
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
}

.btn-default-icon-view {
    width: 40px !important;
    height: 40px !important;
}
main > .main-wrap .v-breadcrumbs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

main > .main-wrap .v-breadcrumbs .breadcrumb {
    color: #cc444b;
    text-decoration: none;
    font-size: 14px;
    max-width: 300px;
    font-weight: 500;
    font-family: serif !important;
}

@media(max-width: 500px) {
    main > .main-wrap .v-breadcrumbs .breadcrumb {
        max-width: 145px !important;
    }
    main > .main-wrap .v-breadcrumbs li:nth-child(2n) {
        padding: 0 !important;
    }
}

main > .main-wrap .v-breadcrumbs .breadcrumb:hover {
    color: red;
}

main > .main-wrap .v-breadcrumbs li {
    align-items: center;
    display: inline-flex;
    font-size: 14px;
}

main > .main-wrap .v-breadcrumbs li:nth-child(2n) {
    padding: 0 12px;
}

main > .main-wrap .nav-group .nav-btn {
    min-width: 62px;
    padding: 0 12.4444444444px;
    font-size: .75rem;
    cursor: pointer;
}


main > .main-wrap .nav-group .btn-default-icon::before {
    opacity: 0 !important;
}

main > .main-wrap .nav-group .nav-btn.btn-disabled {
    color: hsla(0,0%,100%,.3) !important;
}

main > .main-wrap .nav-group .nav-btn.btn-disabled .v-icon {
    color: hsla(0,0%,100%,.3)!important;
}

main > .main-wrap .nav-group .nav-btn .btn-default-icon-content {
    opacity: .7;
}

main > .main-wrap .nav-group .nav-btn:not(.btn-disabled) .btn-default-icon-content:hover {
    opacity: 1;
}

main > .main-wrap .nav-group .nav-btn small {
    font-size: 80%;
}

.dialog-main, .dialog-report {
    align-items: center;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    transition: .2s cubic-bezier(.25,.8,.25,1);
    outline: none;
    z-index: 999999;
    min-width: 280px;
}

.dialog-main.dialog-active,
.dialog-report.dialog-active {
    display: flex;
}

.dialog-main.dialog-active .dialog,
.dialog-report.dialog-active .dialog {
    display: block !important;
    transform-origin: center center;
}

.dialog-main .dialog,
.dialog-report .dialog {
    border-radius: 4px;
    margin: 24px;
    overflow-y: auto;
    pointer-events: auto;
    transition: .3s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    z-index: inherit;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    overflow: hidden;
    display: none;
}

.dialog-main .dialog .dialog-header {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
    height: 40px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.dialog-main .dialog .dialog-header .header-content,
.dialog-report .dialog .dialog-header .header-content {
    height: 40px;
    display: flex;
    flex: 1 1 auto;
    max-width: 100%;
    transition: transform .2s cubic-bezier(.4,0,.2,1),background-color .2s cubic-bezier(.4,0,.2,1),left .2s cubic-bezier(.4,0,.2,1),right .2s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1),max-width .25s cubic-bezier(.4,0,.2,1),width .25s cubic-bezier(.4,0,.2,1);
    position: relative;
}

.dialog-main .dialog .dialog-header .header-content .input {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    letter-spacing: normal;
    width: 100%;
    text-align: left;
    color: #fff;
    background: transparent;
    border: none;
    margin: 8px 8px 10px 20px;
    outline: none;
    border-bottom: 1px solid  hsla(0,0%,100%,.3);
    font-size: 16px;
    font-weight: 400;
    padding-left: 8px;
    height: 25px;
}
.dialog-main .dialog .dialog-header .header-content .btn-close {
    cursor: pointer;
}

.dialog-main .dialog .dialog-header .header-content .btn-close:hover svg,
.dialog-report .dialog .dialog-header .header-content .btn-close-report:hover svg{
    color: #cc444b !important;;
}

.dialog-main .dialog .dialog-body {
    backface-visibility: hidden;
    flex: 1 1 auto;
    overflow-y: auto;
    color: hsla(0,0%,100%,.7);
    height: 300px;
    width: 100%;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
}

.dialog-main .dialog .dialog-body .body-content {
    width: 100%;
    flex-wrap: wrap;
}

.dialog-main .dialog .dialog-body .body-content .btn-chapter {
    font-family: Arial;
    font-weight: 500;
    background: hsla(0,0%,100%,.7)!important;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    flex: 0 0 20%;
    margin: 5px;
}

.dialog-main .dialog .dialog-body .body-content .btn-chapter:visited,
.dialog-main .dialog .dialog-body .body-content .btn-chapter.read{
    background-color: hsl(0deg 0% 58.42% / 71%) !important;
    color: #454545 !important;
}

.dialog-main .dialog .dialog-body .body-content .btn-chapter.active,
.dialog-main .dialog .dialog-body .body-content .btn-chapter:hover {
    background: #cc444b !important;
    color: #fff !important;
}

.dialog-main .dialog .dialog-body .body-content .btn-chapter.hide {
    display: none;
}

.dialog {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: animate-dialog;
    animation-name: animate-dialog;
    -webkit-animation-timing-function: cubic-bezier(.25,.8,.25,1);
    animation-timing-function: cubic-bezier(.25,.8,.25,1)
}
@-webkit-keyframes animate-dialog {
    0% {
        transform: scale(.2)
    }

    50% {
        transform: scale(1.1)
    }

    to {
        transform: scale(1)
    }
}

@keyframes animate-dialog {
    0% {
        transform: scale(.2)
    }

    50% {
        transform: scale(1.1)
    }

    to {
        transform: scale(1)
    }
}

.switch-server {
    position: fixed;
    z-index: 1000;
    width: 25px;
    height: 25px;
    padding: 8px;
    border-radius: 50%;
    background-color: #696a6a;
    right: 20px;
    bottom: 90px;
    cursor: pointer;
    opacity: .5;
    display: none;
}
.switch-server:hover {
    opacity: 1;
}
.switch-server.active {
    display: block ;
}

.switch-server.disabled {
    display: none !important;
}

.setting {
    position: fixed;
    right: -60px;
    bottom:-50px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-20deg);
    z-index: 1000;
}

.setting .action-item {
    position: absolute;
    left: 0;
    transform-origin: 100px;
    transition: 0.2s;
    transition-delay: calc(.1s * var(--i));
    transform: rotate(0deg) translateX(75px);
    z-index: -1;
    opacity: 0;
}

.setting.active .action-item {
    transform: rotate(calc(160deg / 4 * var(--i)));
    opacity: 1;
}

.setting.active .toggle {
    transform: rotate(180deg);
}

.setting .toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: transform 1.2s;
}
.setting .toggle .toggle-setting {
    cursor: pointer;
}
.setting .toggle .toggle-setting:hover:before {
    opacity: .3;
}
.setting .toggle .toggle-setting::before {
    background-color: #696a6a;
    opacity: .5;
}
.setting .action-item .nav-btn {
    cursor: pointer;
}
.setting .action-item .nav-btn:hover .v-icon {
    color: #8f92db;
}
.setting .action-item .nav-home  {
    transform: rotate(20deg);
}
.setting .action-item .nav-report  {
    transform: rotate(-20deg);
}
.setting .action-item .nav-top  {
    transform: rotate(-100deg);
}
.setting .action-item .nav-follow  {
    transform: rotate(-60deg);
}

.dialog-report .dialog .dialog-body {
    backface-visibility: hidden;
    flex: 1 1 auto;
    overflow-y: auto;
    color: hsla(0,0%,100%,.7);
    height: 125px;
    width: 100%;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
    text-align: center;
}

.dialog-report .dialog .dialog-body .select-option {
    padding: 10px;
    background: transparent;
    outline: transparent;
    border: transparent;
    color: hsla(0,0%,100%,.7);
    border-bottom: 1px solid;
    font-size: 20px;
    text-transform: capitalize;
}

.dialog-report .dialog .dialog-body .select-option option {
    margin: 40px;
    background: var(--bg-1-variant)!important;
    color: hsla(0,0%,100%,.7);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.dialog-report .dialog .dialog-body .report-panel {
    text-align: right;
    margin-right: 25px;
    margin-top: 5px;
}
.dialog-report .dialog .dialog-body .txt-area {
    color: white;
    font-size: 18px;
    width: 230px;
    height: 48px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #8080802e;
    padding-left: 5px;
    padding-top: 5px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.dialog-report .dialog .dialog-body .report-panel button {
    padding: 5px 25px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #8080802e;
}

.dialog-report .dialog .dialog-body .report-panel button:hover {
    background-color: #686a70 !important;
}

.main > .main-wrap .main-images {
    text-align: center;
    min-height: 800px;
}

.main > .main-wrap .main-images > .image-section {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 20px 0;
}
.main > .main-wrap .main-images > .image-section > .img-block {
    min-height: 50px;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    display: grid;
    color: #ffffff78;
}
.main > .main-wrap .main-images > .image-section > .img-block > img {
    object-fit: contain;
    max-width: 1200px;
    width: 100%;
    z-index: 1000;
    position: relative;
}

.top-move-pannel {
    -webkit-transition: all 0.1s ease;
    -moz-transition: position 5s;
    -ms-transition: position 5s;
    -o-transition: position 5s;
    transition: all 0.5s ease;
}

.temp-bar {
    display: none;
    height: 90px;
}
.temp-bar.fixed {
    display: block !important;
}
.top-move-pannel.fixed {
    display: block;
    position: fixed;
    z-index: 999999;
    top: -90px;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 0 !important;
}

.top-move-pannel.fixed.fixed-toggle {
    top: 0;
    animation: smoothScroll 1s forwards;
}

/*View Limit/Auth */
.main-images .image-section .warning-level {
    margin-top: 100px;
}
#dialog-view-validate .content {
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
}
#dialog-view-validate .content span {
    color: var(--primary);
}

#dialog-view-validate .validate-panel {
    padding-bottom: 4px;
    text-align: right;
    padding-right: 8px;
}

#dialog-view-validate .btn-view-login,
#dialog-view-validate .btn-view-up,
#dialog-view-validate .btn-view-logout {
    display: none;
}

main > .main-wrap .view-bottom-panel .btn-disabled {
    color: hsla(0,0%,100%,.3) !important;
}

main > .main-wrap .view-bottom-panel .btn-disabled .v-icon {
    color: hsla(0,0%,100%,.3) !important;
}

main > .main-wrap .view-bottom-panel a {
    min-width: 75px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--bg-3);
}

.fixed-click-panel {
    position: fixed;
    width: 120px;
    height: 148px;
    z-index: 1000000000;
    transition: .2s cubic-bezier(.25,.8,.25,1);
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: animate-dialog;
    animation-name: animate-dialog;
    -webkit-animation-timing-function: cubic-bezier(.25,.8,.25,1);
    animation-timing-function: cubic-bezier(.25,.8,.25,1);
    display: none;
}

.fixed-click-panel.active {
    display: block !important;
}

.fixed-click-panel a {
    margin-left: 0 !important;
    width: 100%;
    text-transform: capitalize;
    background-color: var(--read-icon);
    border-radius: 4px;
    margin-bottom: 1px !important;
}
.fixed-click-panel .disable-click {
    background-color: #00000030;
    cursor: not-allowed;
    opacity: .6;
}