
@{
    ViewBag.Title = "author";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm tác giả</h2>
<form id="addAuthorForm" method="post" enctype="multipart/form-data" action="@Url.Action("addAuthor","Admin")">
    <div class="mb-3">
        <label for="Name" class="form-label">Tên Tác giả</label>
        <input type="text" class="form-control" id="Name" name="Name" required placeholder="Nhập tên tác giả">
    </div>
    <div id="textContentSection" class="mb-3">
        <label for="Information" class="form-label">Thông tin tác giả</label>
        <textarea class="form-control" id="Information" name="Information" rows="10" placeholder="Nhập thông tin tác giả"></textarea>
    </div>
    <div id="imageUploadSection" class="mb-3 d-none">
        <label for="chapterImages" class="form-label">Upload ảnh tác giả</label>
        <input type="file" class="form-control" id="chapterImages" name="Images" accept="image/*" multiple>
        <div id="imagePreview" class="mt-3"></div>
    </div>
    <button type="submit" class="btn btn-primary">Lưu Tác giả</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
    </form>