
@{
    ViewBag.Title = "FollowPage";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>FollowPage</h2>
<main class="main">
    <div class="main-wrap">




        <div class="row container-1200 m-auto">
            <div class="col-12 w-100 border-box">
                <div class="comic-list">

                    <div class="topic border-box d-flex w-100 mb-1 flex-column mt-5">
                        <div class="items-title d-flex align-center">
                            <div class="title-line text-h5 font-weight-medium px-4">Truyện Theo Dõi</div>
                            <hr class="divider theme-dark">
                            <button type="button" title="Trước" class="prev btn-default-icon btn-default-round btn-size-default theme-dark">
                                <span class="btn-default-icon-content">
                                    <span class="v-icon theme-dark">
                                        <svg viewBox="0 0 24 24" class="v-icon-svg text--disabled">
                                            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path>
                                        </svg>
                                    </span>
                                </span>
                            </button>
                            <button type="button" title="Sau" class="next btn-default-icon btn-default-round btn-size-default theme-dark">
                                <span class="btn-default-icon-content">
                                    <span class="v-icon theme-dark">
                                        <svg viewBox="0 0 24 24" class="v-icon-svg text--disabled">
                                            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="items-wrap app-window app-item-group theme-dark">
                        <div class="app-window-container">
                            <div class="items">
                                <div class="lds-loading">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="row item-card">
                                    <div class="m-auto description pt-4 pb-4" style="color: #ffffff;">Không Tìm Thấy Kết Quả...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic border-box d-flex pl-3 pr-3 w-100 mb-1 mt-1 flex-column">
                        <div class="items-title d-flex align-center">
                            <button type="button" title="Trước" class="prev btn-default-icon btn-default-round btn-size-default theme-dark">
                                <span class="btn-default-icon-content">
                                    <span class="v-icon theme-dark">
                                        <svg viewBox="0 0 24 24" class="v-icon-svg text--disabled">
                                            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path>
                                        </svg>
                                    </span>
                                </span>
                            </button>
                            <button type="button" title="Sau" class="next btn-default-icon btn-default-round btn-size-default theme-dark">
                                <span class="btn-default-icon-content">
                                    <span class="v-icon theme-dark">
                                        <svg viewBox="0 0 24 24" class="v-icon-svg text--disabled">
                                            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                                        </svg>
                                    </span>
                                </span>
                            </button>
                            <hr class="divider theme-dark">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

